<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">  
		<link rel="stylesheet" href="/assets/css/recipe_style.css" type="text/css" />
		<title>Recipe Tracker!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/recipes.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>