body {
    background-image: url("../images/black-and-white-breakfast-chairs-1924818.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    font-family: 'Shadows Into Light', cursive;
}

.recipeList {
    background: #000000;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 10px 10px 8px #888888;
    border-style: double;
    border-color: white;
    border-width: 5px;
    text-align: justify;
}

.label {
    font-weight: bold;
}

.form-group {
    background: black;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 10px 10px 8px #888888;
    border-style: double;
    border-color: white;
    border-width: 5px;
    text-align: justify;
}

.content {
    text-align: center;
    background-image: linear-gradient(to right, rgb(69, 116, 81, 0.8), rgba(196, 182, 155, 0.8));
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 8px #888888;
    border-style: double;
    border-color: white;
    border-width: 5px;
    line-height: 47px;
    margin-top: 3%;
}

h1 {
    background: black;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 10px 10px 8px #888888;
    border-style: double;
    border-color: white;
    border-width: 5px;
}
